[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyyaml = "*"
requests = "*"

[dev-packages]
pytest = "*"
requests-mock = "*"

[requires]
python_version = "3.9"

[scripts]
tests = "python -m pytest"
generate_results = "python scripts/generate_outcomes.py"
